	#main_container{
		text-align:center;
	}
	.comfirmInfo{
		width:100%;
	}
	td{
		padding:30px 0;
		text-align:center;
		border:1px solid #7C8693;
	}
	.lableGroup{
		width:70%;
		text-align:left;
		margin:5px auto;
	}
	lable{
		display:inline-block;
		width:110px;
		text-align:center;
	}
	#minAccount,#maxAccount{
		width:50px;
	}
	#startDate,#endDate{
		width:130px;
	}
	.button{
		width:80px;
		height:40px;
		color:#fff;
		font-size:16px;
		background:#50B8EC;
		border-radius:10px;
		border:0;
		cursor:pointer;
	}
	.errwarn{
		position:absolute;
		top:15px;
		right:-105px;
		display:inline-block;
		width:150px
	}
	
	.datebox{
		margin: 10px 10px 0 10px;
	}