	#main_container{
		text-align:center;
	}
	#main_container form{
		width:54%;
		margin:30px auto;
	} 
	.comfirmInfo{
		width:100%;
	}
	td{
		padding:30px 0;
		text-align:center;
		border:1px solid #000;
	}
	.lableGroup{
		width:50%;
		text-align:left;
		margin:5px auto;
	}
	lable{
		display:inline-block;
		width:110px;
		text-align:center;
	}
	#minAccount,#maxAccount{
		width:50px;
	}
	#startDate,#endDate{
		width:130px;
	}
	.button{
		width:80px;
		height:40px;
		color:#fff;
		font-size:16px;
		background:#50B8EC;
		border-radius:10px;
		border:0;
		cursor:pointer;
	}
	.errwarn{
		position:absolute;
		top:15px;
		right:-125px;
		display:inline-block;
		width:150px
	}